# === Base de données PostgreSQL (depuis docker-compose.yml) ===
DATABASE_URL=postgresql://admin:password@localhost:5432/insurance_db

# === Kafka (port EXTERNAL exposé par docker-compose) ===
KAFKA_BOOTSTRAP_SERVERS=localhost:9094

# === Clé Fernet (chiffrement symétrique KMS) ===
FERNET_KEY=dGhpcyBpcyBhIHZlcnkgc2VjdXJlIGtleSAxMjM0NTY=

# === Clé secrète JWT (authentification) ===
JWT_SECRET_KEY=e83a9d94bf8c4d2fb2d3c9071c1da4b7b252033878b2d18449c25983e29f0322

# === Configuration SMTP Gmail (Recommandé - Envoi réel de codes OTP) ===
USE_SMTP=true
SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_USER=votre_email@gmail.com
SMTP_PASSWORD=votre_mot_de_passe_application_16_caracteres
SMTP_FROM="TrustPool <votre_email@gmail.com>"

# === Resend API (Optionnel si SMTP activé) ===
RESEND_API_KEY=

# === Stripe Configuration (Test Environment) ===
STRIPE_SECRET_KEY=sk_test_51U0MDsRDGktHXvrJhlP9ZCtajYxN2vmbbffXps2U770ZFsSq52UwuNDbidFAa9q0s8gzZEPb74qlY7xim28zWTy100hY2TgsjB
STRIPE_WEBHOOK_SECRET=whsec_c2c946000bd528fa101cda5654470e85c2b4fac91e162940a02eb8f416899090
STRIPE_PUBLISHABLE_KEY=pk_test_51U0MDsRDGktHXvrJoYa1tAvWfdNhoznyafOIL14gFAqUijKlY1HhM5mb7Q2MggTqbC8CJEBf4U2dxS4VRmMAT9Pm00PlJtoGc5
FRONTEND_URL=http://localhost:3000

# === AI / RAG (Gemini) ===
GEMINI_API_KEY=
GEMINI_EMBEDDING_MODEL=gemini-embedding-001
GEMINI_LLM_MODEL=gemini-3.1-flash-lite
RAG_CHUNK_SIZE=600
RAG_CHUNK_OVERLAP=80
RAG_TOP_K=5
RAG_SCORE_THRESHOLD=0.3

# === MinIO / S3 Object Storage ===
MINIO_ENDPOINT=localhost:9000
MINIO_ACCESS_KEY=minioadmin
MINIO_SECRET_KEY=miniopassword
MINIO_BUCKET_NAME=insurance-documents
MINIO_SECURE=false
