DATABASE_URL=postgresql://user:password@localhost:5432/insurance_platform
KAFKA_BOOTSTRAP_SERVERS=localhost:9092
FERNET_KEY=CHANGER_MOI__generer_avec_Fernet.generate_key()
JWT_SECRET_KEY=CHANGER_MOI__mettre_une_chaine_aleatoire_longue
