{% extends "base.html" %}

{% block title %}Bienvenue sur TrustPool{% endblock %}
{% block header_title %}Bienvenue 🎉{% endblock %}

{% block content %}
<p>Bonjour {{ pseudonyme }},</p>
<p>Nous sommes ravis de vous compter parmi nous ! TrustPool est votre nouvelle plateforme d'assurance collaborative.</p>
<p>Vous pouvez dès à présent rejoindre un groupe ou en créer un nouveau.</p>
<br>
<div style="text-align: center;">
    <a href="https://trustpool.io/dashboard" class="btn">Accéder à mon espace</a>
</div>
{% endblock %}
